// $Id$ tiki-selector-variables.scss file, to provide values for "legacy" Tiki CSS selectors (not covered by Bootstrap).
// These Raspberry theme option values are used by themes/fivealive/less/_tiki-selectors.scss

$imagePath: "../images/";
$side-column-border: none;
$side-column-panel-heading-bg: #ffffff;
// #f5399c
$side-column-panel-title-color: #e60b7f;
// #3f1020;
$side-column-panel-heading-border-color: #e60b7f;
$side-column-panel-heading-border-width: 0 0 1px 0;
$header_outer-bg: darken(#e60b7f, 10%);
// url('#{$imagePath}siteheadertile.png') 0 0 no-repeat;
$header_container_header-bg: url('#{$imagePath}siteheader.png') -248px 0 no-repeat;
$topbar_container-bg: #e60b7f;
$header-color: #ffffff;
$form-control-bg: #f9dcec;
$form-control-border-colors: #fa9ccd #fcf6f9 #fcf6f9 #fa9ccd;
$footer-color: #ffffff;
// #696969;
$footer-border-color: #eb0a82;
$footer-link-color: darken(#fff, 10%);
//#eb0a82;
$navbar-default-navbar-nav-li-a-bg: #e60b7f;
$postbody-title-color: #ffffff;
$postbody-title-bg: url('#{$imagePath}siteheader.png') no-repeat -480px -200px;
// $brand-primary-of-option:                   $brand-primary;

// .secondary_site_menu .navbar-nav li.dropdown { border-bottom: none;}
