//  tikicorp/scss/tikicorp.scss compile to make
/*  The Tikicorp theme stylesheet for Tiki Wiki CMS Groupware. */

@import "fonts";
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/functions";
@import "variables"; // Needs to come first, to override Bootstrap defaults.
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss";

@import "variables"; // Imported again, to override base_files/tiki-variables defaults, if the theme overrides any

@import "../../base_files/scss/_tiki-selectors.scss";
@import "_tiki-selectors.scss";
@import "../../base_files/scss/_external-scripts.scss";
@import "../../base_files/scss/_select2-tiki_colors.scss";


// override for some cypht background colors
body.tiki.tiki-webmail {
    background-image: url('#{$imagePath}bg-body.jpg');
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .card h3 { color: $popover-header-color; }
}
