/* Bootswatch theme adapted by the Tiki Community for Tiki Wiki CMS Groupware */
/* Original Bootswatch information: */
/*!
 * bootswatch v5.1.3
 * Homepage: http://bootswatch.com
 * Copyright 2012-2022 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
 *
 * Adapted by the Tiki Community for Tiki Wiki CMS Groupware
*/

//@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");
@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/cerulean/variables"; // Needs to come first, to override defaults.
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss";
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/cerulean/bootswatch";

//@import "variables"; // Imported again, to override base_files/tiki-variables defaults, if the theme overrides any

@import "../../base_files/scss/_tiki-selectors.scss";
@import "../../base_files/scss/_external-scripts.scss";

.topbar {
//    @include btn-shadow($navbar-dark-bg);
    filter: none;
    @include box-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
}

.topbar .navbar { box-shadow: none; }

.topbar .navbar-light .navbar-nav > li > a,
.topbar .navbar-light .navbar-nav > li,
.topbar .nav > li { background: transparent;}

//.topbar .navbar-light .navbar-nav > li > a:hover,
//.topbar .nav > li:hover { background: $navbar-light-hover-bg;}

// overriding some cypht stuff
.tiki-webmail, .tiki-cypht, .mobile.tiki-cypht, .inline-cypht {
    .moduletitle { color: $cyan !important; }
}

// Increase navbar height and side margins to reinstate Bootswatch style
.topbar_modules > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.topbar_modules {
    margin-left: 30px;
    margin-right: 30px;
}

// From older variables file:
// $cyan:    #1775AB; //#2fa4e7 Darkened for accessibility
