/* Bootswatch theme adapted by the Tiki Community for Tiki Wiki CMS Groupware */
/* Original Bootswatch information: */
/*!
 * bootswatch v5.1.3
 * Homepage: http://bootswatch.com
 * Copyright 2012-2017 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
*/

@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/lumen/variables"; // Needs to come first, to override defaults.
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss"; // Needed for darken function.
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "../../base_files/scss/_tiki-selectors.scss";
@import "../../base_files/scss/_bs3-bs4-transition.scss";
@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/lumen/bootswatch";
@import "../../base_files/scss/_external-scripts.scss";

// Increase navbar height and side margins to reinstate Bootswatch style
.topbar_modules > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.topbar_modules {
    margin-left: 30px;
    margin-right: 30px;
}

/* Search preferences > button */
.tiki-admin aside.admin-nav li form .my-1 .input-group {
    overflow: hidden;
}

.tiki-admin aside.admin-nav li form .my-1 .btn:hover {
    margin-bottom: -1px;
}

.tiki-admin aside.admin-nav li form .my-1 .btn {
    border: solid;
    border-width: 0 1px 4px 1px;
    border-color: #137ea7;
    padding: .25rem .5rem;
}

.tiki-admin aside.admin-nav li form .my-1 .fas {
    width: 1.25em;
}
