//Custom styles for the FiveAlive Plum option theme.

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //
$white:    #fff;
$black:    #000;
$light: #7a04b5;

$bg-light: #7a04b5 !important;


$theme-colors: (
    "primary":            #7a04b5,
    "secondary":         #52269c,
    "success":             #5cb85c,
    "info":             #350251,
    "warning":             #f0ad4e,
    "danger":              #ff5c1a,
    "light":            #ffffff,
    "dark":                #15001f
);

$primary:       #7a04b5;
$secondary:     #52269c;
$success:       #5cb85c;
$info:          #350251;
$warning:       #f0ad4e;
$danger:        #ff5c1a;
$light:         #ffffff;
$dark:          #15001f;

$theme-colors: map-merge(
        (
            "primary":    $primary,
            "secondary":  $secondary,
            "success":    $success,
            "info":       $info,
            "warning":    $warning,
            "danger":     $danger,
            "light":      $light,
            "dark":       $dark
        ),
        $theme-colors
);

// Links
$link-color: #7a04b5;
$link-hover-color: #7a04b5;

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
//$bg-dark-link-hover-bg: #003c4a;

// Navs
$nav-tabs-link-color: #000;
$nav-tabs-link-bg: #f4e1ff; // Same as $input-bg;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: #15001f; // Same as $dropdown-link-hover-bg;

// Navbars
$top-bg: #49006c;
$top-color: #fff;
$top-link-color: #fff;
$top-link-hover-color: #f9f9f9;
$topbar-bg: #15001f;
$topbar-link-color: #fff;
$bg-dark-info: #f2f2f2;
$page-header-link-color: #000;

// Typography
$text-muted:  #6B737B;
$hr-border-color: #7a04b5;

// Cards
$card-border-color: #49006c;

// Tables
$table-border-color: #c564f5;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

// Forms
$input-color: #555555;
$input-bg: #f4e1ff;
$input-border-color: #f9f0ff;
$input-border-top-color: #db9fff;
$input-border-right-color: #f9f0ff;
$input-border-bottom-color: #f9f0ff;
$input-border-left-color: #db9fff;

// Form validation

// Dropdowns
$dropdown-bg: #49006c;
$dropdown-border-color: rgba(0, 0, 0, 0.15);
$dropdown-link-color: #ffffff;
$dropdown-link-hover-color: #f2f2f2;
$dropdown-link-hover-bg: #15001f;
$dropdown-link-active-color: #f2f2f2;
$dropdown-link-active-bg: #380052;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

// Pagination
$nav-pills-link-active-bg: #7a04b5;
$pagination-color: #7a04b5;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #7a04b5;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #7a04b5;
$pagination-active-border-color: #7a04b5;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;


// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
$bg-light-alt: #117485 !important;
$bg-dark: #15001f;

$side-column-heading-color: #49006c;

$middle_outer-inset-shadow-bg: #180124;
$footer_liner-card-inner-border: #7a04b5;

$footer-accent-color: #7a04b5;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

$autotoc-nav-bg: #49006c;
$autotoc-color: #ffffff;
$autotoc-nav-link-hover-color: #f2f2f2;
$autotoc-nav-link-hover-bg: #2e1f39;

// - - - - - - - - - -  - - - - - - Other CSS, if any - - - - - - - - - - - - - - - - - //

.header_outer,
.layout_basic #top_modules,
.postbody-title,
.tiki > .navbar.fixed-top.bg-dark,
//.topbar, .navbar-dark, .topbar .navbar-dark .navbar-nav > li, .topbar .nav > li,
.bg-dark {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5e028e+0,8f06c4+100 */
  background: #5e028e !important; /* Old browsers */
  background: -moz-linear-gradient(left,  #5e028e 0%, #8f06c4 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #5e028e 0%,#8f06c4 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #300149/*#5e028e*/ 0%,#15001F/*#8f06c4*/ 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e028e', endColorstr='#8f06c4',GradientType=1 ); /* IE6-9 */
}

.bg-dark {background: #15001f !important; }
$autotoc-nav-bg: #ffffff;
$autotoc-nav-border: #15001f;
$autotoc-color: #7a04b5;
$autotoc-nav-li-link-hover-color: #f2f2f2;
$autotoc-nav-li-link-hover-bg: #380052;
$middle_outer-inset-shadow-bg: #180124;
$postbody-title-card-title-color: #fff;