/* Bootswatch theme adapted by the Tiki Community for Tiki Wiki CMS Groupware */
/* Original Bootswatch information: */
/*!
 * bootswatch v5.1.3
 * Homepage: http://bootswatch.com
 * Copyright 2012-2017 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
*/

@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/journal/variables"; // Needs to come first, to override defaults.
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss"; // Needed for darken function.
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "../../base_files/scss/_tiki-selectors.scss";
@import "../../base_files/scss/_bs3-bs4-transition.scss";
@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/journal/bootswatch";
@import "../../base_files/scss/_external-scripts.scss";

.cssmenu_vert,
.cssmenu_horiz {
    font-size: 18px;
    font-family: $font-family-sans-serif;
    font-weight: $headings-font-weight;
}

.cssmenu_vert li ul,
.cssmenu_horiz li ul,
.cssmenu_horiz ul li button.btn-link.link-list,
.cssmenu_vert ul li button.btn-link.link-list {
    font-size: 15px;
}

// Increase navbar height and side margins to reinstate Bootswatch style
.topbar_modules > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.topbar_modules {
    margin-left: 30px;
    margin-right: 30px;
}