/* Bootswatch theme adapted by the Tiki Community for Tiki Wiki CMS Groupware */
/* Original Bootswatch information: */
/*!
 * bootswatch v5.1.3
 * Homepage: http://bootswatch.com
 * Copyright 2012-2017 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
*/

@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/slate/variables"; // Needs to come first, to override defaults.
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss"; // Needed for darken function.
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "../../base_files/scss/_tiki-selectors.scss";
@import "../../base_files/scss/_bs3-bs4-transition.scss";
@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/slate/bootswatch";
@import "../../base_files/scss/_external-scripts.scss";
@import "../../base_files/scss/_select2-tiki_colors.scss";

//Theme variables aren't overriding default values for these.
body {
  color: #aaa;
  background: #272b30;
}

//.topbar.bg-dark,
    // .topbar .cssmenu_horiz ul,
//.topbar .navbar-default .navbar-nav > li,
//.topbar .nav > li,
//.card-heading,
//.navbar-default .navbar-collapse,
//.navbar-default .navbar-form {
//    -webkit-background-image: linear-gradient(to bottom, #484e55, #3a3f44 60%, #313539);
//    -o-background-image: linear-gradient(to bottom, #484e55, #3a3f44 60%, #313539);
//    background-image: linear-gradient(to bottom, #484e55, #3a3f44 60%, #313539);
//}

body.fullscreen { background: $body-bg; }

// Increase navbar height and side margins to reinstate Bootswatch style
.topbar_modules > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.topbar_modules {
    margin-left: 30px;
    margin-right: 30px;
}
