/* Bootswatch theme adapted by the Tiki Community for Tiki Wiki CMS Groupware */
/*! Original theme information:
 * bootswatch v5.1.3
 * Homepage: http://bootswatch.com
 * Copyright 2012-2022 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
 *
*/

@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/darkly/variables"; // Needs to come first, to override defaults.
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss";
//@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss"; // ...compiling errors.
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/darkly/bootswatch";
@import "../../base_files/scss/_tiki-selectors.scss";
@import "../../base_files/scss/_bs3-bs4-transition.scss";
@import "../../base_files/scss/_external-scripts.scss";
@import "../../base_files/scss/_select2-tiki_colors.scss";

.textarea-toolbar a.toolbar { color: #222; }
.dropdown-menu.mega-menu a { color: $link-color !important; }

// Increase navbar height and side margins to reinstate Bootswatch style
.topbar_modules > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.topbar_modules {
    margin-left: 30px;
    margin-right: 30px;
}

// Still needed w/bs5?
//$dropdown-item: $dropdown-link-color;